Cargar las librerias

In [1]:
### Protecto Final
#Carga de librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

Leer los archivos

In [21]:
PurchasesFinal = pd.read_csv("PurchasesFINAL12312016.csv",sep=',')
SalesFinal = pd.read_csv("SalesFINAL12312016.csv",sep=',')
EndInvFINAL = pd.read_csv("EndInvFINAL12312016.csv",sep=',')
BegInvFINAL = pd.read_csv("BegInvFINAL12312016.csv",sep=',')
PurchasePricesDec = pd.read_csv("2017PurchasePricesDec.csv",sep=',')
InvoicePurchases = pd.read_csv("InvoicePurchases12312016.csv",sep=',')

Comprobar nulos

In [3]:
#comprobando los datos nulos, mayores a 4'000'000
#data_latinoamerica.isnull().sum()[data_latinoamerica.isnull().sum()>4000000]
PurchasesFinal.isnull()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2372469,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2372470,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2372471,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2372472,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2372473,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [4]:
SalesFinal.isnull()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048571,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048572,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048573,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1048574,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
PurchasesFinalnulos = PurchasesFinal.isnull().sum()[PurchasesFinal.isnull().sum()>0]
print(PurchasesFinalnulos)

Size    3
dtype: int64

In [7]:
SalesFinalnulos = SalesFinal.isnull().sum()[SalesFinal.isnull().sum()>0]
print(SalesFinalnulos)

Series([], dtype: int64)

In [9]:
#Verificar si hay filas con valores nulos
filas_nulas = EndInvFINAL.isnull().any(axis=1)

#Mostrar filas con valores nulos
filas_con_nulos = EndInvFINAL[filas_nulas]

#Imprimir las filas con valores nulos
if not filas_con_nulos.empty:
    print("Filas con valores nulos encontradas:")
    print(filas_con_nulos)
else:
    print("No se encontraron filas con valores nulos.")

Filas con valores nulos encontradas:
       InventoryId  Store City  Brand                   Description   Size  \
113895      46__58     46  NaN     58   Gekkeikan Black & Gold Sake  750mL
113896      46__62     46  NaN     62      Herradura Silver Tequila  750mL
113897      46__63     46  NaN     63    Herradura Reposado Tequila  750mL
113898      46__77     46  NaN     77   Three Olives Espresso Vodka  750mL
113899     46__106     46  NaN    106      Mr Boston Peach Schnapps  Liter
...            ...    ...  ...    ...                           ...    ...
115174   46__46447     46  NaN  46447         Gascon Malbec Mendoza  750mL
115175   46__46458     46  NaN  46458      Layer Cake Barosa Shiraz  750mL
115176   46__46476     46  NaN  46476          Tilia Malbec Mendoza  750mL
115177   46__46764     46  NaN  46764  Clayhouse Adobe Red Paso Rbl  750mL
115178   46__46830     46  NaN  46830         Pacific Rim Sweet Rsl  750mL

        onHand  Price     endDate
113895       0  12.99  2016-12-31
113896       0  36.99  2016-12-31
113897       0  38.99  2016-12-31
113898       0  14.99  2016-12-31
113899       0   4.49  2016-12-31
...        ...    ...         ...
115174       0  10.99  2016-12-31
115175       0  15.99  2016-12-31
115176       0   9.99  2016-12-31
115177       0  11.99  2016-12-31
115178       0   8.99  2016-12-31

[1284 rows x 9 columns]

In [10]:
#Verificar si hay duplicados en todo el DataFrame
duplicados = PurchasesFinal.duplicated()

#Mostrar filas duplicadas
duplicados_filas = PurchasesFinal[duplicados]

#Imprimir las filas duplicadas
if not duplicados_filas.empty:
    print("Filas duplicadas encontradas:")
    print(duplicados_filas)
else:
    print("No se encontraron filas duplicadas.")

No se encontraron filas duplicadas.

In [11]:
#Verificar si hay duplicados en todo el DataFrame
duplicados = SalesFinal.duplicated()

#Mostrar filas duplicadas
duplicados_filas = SalesFinal[duplicados]

#Imprimir las filas duplicadas
if not duplicados_filas.empty:
    print("Filas duplicadas encontradas:")
    print(duplicados_filas)
else:
    print("No se encontraron filas duplicadas.")

No se encontraron filas duplicadas.

In [12]:
#Verificar si hay duplicados en todo el DataFrame
duplicados = EndInvFINAL.duplicated()

#Mostrar filas duplicadas
duplicados_filas = EndInvFINAL[duplicados]

#Imprimir las filas duplicadas
if not duplicados_filas.empty:
    print("Filas duplicadas encontradas:")
    print(duplicados_filas)
else:
    print("No se encontraron filas duplicadas.")

No se encontraron filas duplicadas.

Reemplazar nulos por ciudad

In [22]:
EndInvFINAL['City'].fillna('TYWARDREATH', inplace=True)

C:\Users\Win10\AppData\Local\Temp\ipykernel_12584\2512669720.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  EndInvFINAL['City'].fillna('TYWARDREATH', inplace=True)

In [23]:
#Verificar si hay filas con valores nulos
filas_nulas = EndInvFINAL.isnull().any(axis=1)

#Mostrar filas con valores nulos
filas_con_nulos = EndInvFINAL[filas_nulas]

#Imprimir las filas con valores nulos
if not filas_con_nulos.empty:
    print("Filas con valores nulos encontradas:")
    print(filas_con_nulos)
else:
    print("No se encontraron filas con valores nulos.")

No se encontraron filas con valores nulos.

In [24]:
#Verificar si hay filas con valores nulos
filas_nulas = BegInvFINAL.isnull().any(axis=1)

#Mostrar filas con valores nulos
filas_con_nulos = BegInvFINAL[filas_nulas]

#Imprimir las filas con valores nulos
if not filas_con_nulos.empty:
    print("Filas con valores nulos encontradas:")
    print(filas_con_nulos)
else:
    print("No se encontraron filas con valores nulos.")

No se encontraron filas con valores nulos.

In [25]:
#Verificar si hay filas con valores nulos
filas_nulas = PurchasePricesDec.isnull().any(axis=1)

#Mostrar filas con valores nulos
filas_con_nulos = PurchasePricesDec[filas_nulas]

#Imprimir las filas con valores nulos
if not filas_con_nulos.empty:
    print("Filas con valores nulos encontradas:")
    print(filas_con_nulos)
else:
    print("No se encontraron filas con valores nulos.")

Filas con valores nulos encontradas:
      Brand Description  Price Size Volume  Classification  PurchasePrice  \
7915   4202         NaN    0.0  NaN    NaN               1          11.19

      VendorNumber                   VendorName
7915           480  BACARDI USA INC

In [26]:
#Verificar si hay filas con valores nulos
filas_nulas = InvoicePurchases.isnull().any(axis=1)

#Mostrar filas con valores nulos
filas_con_nulos = InvoicePurchases[filas_nulas]

#Imprimir las filas con valores nulos
if not filas_con_nulos.empty:
    print("Filas con valores nulos encontradas:")
    print(filas_con_nulos)
else:
    print("No se encontraron filas con valores nulos.")

Filas con valores nulos encontradas:
      VendorNumber                   VendorName InvoiceDate  PONumber  \
0              105  ALTAMAR BRANDS LLC           2016-01-04      8124
1             4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2              388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3              480  BACARDI USA INC              2016-01-12      8106
4              516  BANFI PRODUCTS CORP          2016-01-07      8170
...            ...                          ...         ...       ...
5538          9622  WEIN BAUER INC               2017-01-06     13626
5539          9625  WESTERN SPIRITS BEVERAGE CO  2017-01-10     13661
5540          3664  WILLIAM GRANT & SONS INC     2017-01-02     13643
5541          9815  WINE GROUP INC               2017-01-03     13602
5542         90058  ZORVINO VINEYARDS            2017-01-05     13574

          PODate     PayDate  Quantity    Dollars  Freight Approval
0     2015-12-21  2016-02-16         6     214.26     3.47      NaN
1     2015-12-22  2016-02-21        15     140.55     8.57      NaN
2     2015-12-24  2016-02-16         5     106.60     4.61      NaN
3     2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4     2015-12-24  2016-02-12      1935   15527.25   429.20      NaN
...          ...         ...       ...        ...      ...      ...
5538  2016-12-21  2017-02-10        90    1563.00     8.60      NaN
5539  2016-12-23  2017-02-18      4617   37300.48   186.50      NaN
5540  2016-12-22  2017-02-04      9848  202815.78   932.95      NaN
5541  2016-12-20  2017-02-08     24747  149007.56   819.54      NaN
5542  2016-12-18  2017-02-12       437    3608.11    16.60      NaN

[5169 rows x 10 columns]

Eliminar Columna Approval

In [27]:
InvoicePurchases = InvoicePurchases.drop('Approval', axis=1)

Ya no hay nulos, continuamos vienod duplicados.

In [28]:
#Verificar si hay duplicados en todo el DataFrame
duplicados = BegInvFINAL.duplicated()

#Mostrar filas duplicadas
duplicados_filas = BegInvFINAL[duplicados]

#Imprimir las filas duplicadas
if not duplicados_filas.empty:
    print("Filas duplicadas encontradas:")
    print(duplicados_filas)
else:
    print("No se encontraron filas duplicadas.")

No se encontraron filas duplicadas.

In [29]:
#Verificar si hay duplicados en todo el DataFrame
duplicados = PurchasePricesDec.duplicated()

#Mostrar filas duplicadas
duplicados_filas = PurchasePricesDec[duplicados]

#Imprimir las filas duplicadas
if not duplicados_filas.empty:
    print("Filas duplicadas encontradas:")
    print(duplicados_filas)
else:
    print("No se encontraron filas duplicadas.")

No se encontraron filas duplicadas.

In [30]:
#Verificar si hay duplicados en todo el DataFrame
duplicados = InvoicePurchases.duplicated()

#Mostrar filas duplicadas
duplicados_filas = InvoicePurchases[duplicados]

#Imprimir las filas duplicadas
if not duplicados_filas.empty:
    print("Filas duplicadas encontradas:")
    print(duplicados_filas)
else:
    print("No se encontraron filas duplicadas.")

No se encontraron filas duplicadas.